/*Capstone Project Pablo Layna CSS
slytecapstone.css*/
body {font-family: sans-serif;
      text-align: left;
      background-image: url("BackgroundWeb.jpg");
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: 100% 100%}
.go-back button.bton1{
  padding: 10px;
  color: red;
  background: none;
  font-weight: bold;
  border: none;
  font-family: sans-serif;
  font-size: 17px;
  cursor: pointer;
}
.go-back button.bton1:hover{
  padding: 10px;
  color: black;
  background: none;
  font-weight: bold;
  border: none;
  font-family: sans-serif;
  font-size: 17px;
  cursor: pointer;
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
li{
  float: left;
}
li a{
  display: block;
  font-weight: bold;
  color: red;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover{
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.SignUpBton{
  background-color: red;
  color: white;
}
.SignUpBton:hover{
  background-color: black;
  color: white;
}
h1{
  padding-left: 10px;
  color: red;
}
.log-in button.bton{
  padding: 10px 30px;
  background-color: red;
  color: white;
  font-weight: bold;
  border: none;
  font-family: sans-serif;
  font-size: 17px;
  cursor: pointer;
}
.log-in button.bton:hover{
  padding: 10px 30px;
  background-color: black;
  color: white;
  font-weight: bold;
  border: none;
  font-family: sans-serif;
  font-size: 17px;
  cursor: pointer;
}
.square-base { max-width: 300px;
               background-color: lightgray;
               margin-bottom: 10px;
               padding: 10px;
               border: 2px solid red; }
.square-base2 { max-width: 800px;
                text-align: center;
                display: block;
                margin-left: auto;
                margin-right: auto;
                background-color: #F4A08E;
                margin-bottom: 10px;
                padding: 10px;
                border: 2px solid red; }
.dollarinput label{ display: inline-block;
                    text-align: right;}
.uploadbutton label{ padding: 10px 30px;
  background-color: red;
  color: white;
  font-weight: bold;
  border: none;
  font-family: sans-serif;
  font-size: 17px;
  cursor: pointer;
}
.uploadbutton label:hover{ padding: 10px 30px;
  background-color: black;
  color: white;
  font-weight: bold;
  border: none;
  font-family: sans-serif;
  font-size: 17px;
  cursor: pointer;
}
.info-cars h3{
  font-size: 24px;
  color: red;
  font-weight: bold;
  text-align: left;
}
.info-cars p{
  font-size: 14px;
  text-align: left;
}
.lefttable{
  margin-left: auto;
  margin-right: auto;
  height: 50%;
  width: 80%;
}
.lefttable td{
  border:10px solid transparent;
}
.lefttable img{
  width: 500px;
  height: 330px;
  border: 3px solid red;
}
.availableCarsTable{
  margin-left: auto;
  margin-right: auto;
}
.availableCarsTable td{
  border:2px solid red;
  width: 300px;
  height: 300px;
}
.availableCarsTable td:hover{
  background-color: #F4A08E;
}
.availableCarsTable img{
  width: 270px;
  height: 200px;
  display: block;
  margin: 0 auto;
  padding-bottom: 5px;
  padding-top: 5px;
}
.availableCarsTable p{
  margin: 0;
  padding-left: 4px;
}
.availableCarsTable a{
  text-decoration: none;
}
.sortByBton{
  display: inline-block;
  position: relative;
  margin-left: 97px;
  padding-bottom: 10px;
}
.sortByBton button{
  border: none;
  background-color: red;
  color: white;
  padding: 15px 20px;
  font-size:18px;
  cursor:pointer;
}
.sortByBton button:hover{
  background-color: black;
}
.sortByOptions{
  display: none;
  position: absolute;
  overflow: auto;
  background-color: white;
}
.sortByBton:hover .sortByOptions{
  display: block;
}
.sortByOptions a{
  display: block;
  color: black;
  padding: 5px;
  text-decoration: none;
  padding:15px 38px;
  border:1px solid red;
}
.sortByOptions a:hover{
  color: #0a0a23;
  background-color: #F4A08E;
}
.homescreenbton {
  display: flex;
  padding-bottom: 80px;
}
.btoncenter {
  justify-content: center;
}

button.btonleft {
  margin-right: 20px;
  padding: 10px 30px;
  background-color: red;
  color: white;
  font-weight: bold;
  border: none;
  font-family: sans-serif;
  font-size: 17px;
  cursor: pointer;
}
button.btonright {
  margin-right: 20px;
  padding: 10px 30px;
  background-color: red;
  color: white;
  font-weight: bold;
  border: none;
  font-family: sans-serif;
  font-size: 17px;
  cursor: pointer;
}
button.btonleft:hover {
  margin-right: 20px;
  padding: 10px 30px;
  background-color: black;
  color: white;
  font-weight: bold;
  border: none;
  font-family: sans-serif;
  font-size: 17px;
  cursor: pointer;
}
button.btonright:hover {
  margin-right: 20px;
  padding: 10px 30px;
  background-color: black;
  color: white;
  font-weight: bold;
  border: none;
  font-family: sans-serif;
  font-size: 17px;
  cursor: pointer;
}
.OurHistoryDescrip p{
  font-size: 18px;
  text-align: left;
  line-height: 1.7em;
}
.hometablehistory{
  margin-left: auto;
  margin-right: auto;
  height: 50%;
  width: 80%;
  padding-bottom: 40px;
}
.hometablehistory td{
  border:10px solid transparent;
}
.hometablehistory img{
  width: 500px;
  height: 330px;
  border: 3px solid black;
}
.hometableaccom{
  margin-left: auto;
  margin-right: auto;
  height: 50%;
  width: 80%;
  padding-bottom: 30px;
}
.hometableaccom td{
  border:20px solid transparent;
}
.contactTable td{
  border: 3px solid black;
  width: 400px;
  height: 50px;
}
.contactTable{
  padding-left: 80px;
  padding-bottom: 50px;
}
.contactTable a{
  text-decoration: none;
}
.hometablemecha{
  margin-left: auto;
  margin-right: auto;
  height: 50%;
  width: 60%;
  padding-bottom: 100px;
}
.hometablemecha td{
  border:20px solid transparent;
}
footer{
  text-align: center;
  padding: 3px;
  background-color: red;
  color: white;
}
footer p{
  line-height: 1.5em;
}
.calendar{
  border-collapse: collapse;
  background: white;
  color: black;
  border: 3px solid black;
  margin-left: 20px;
}
.calendar th{
  font-weight: bold;
  color: white;
  background-color: red;
}
.calendar td{
  font-weight: bold;
  border: 2px solid black;
  font-size: 18px;
}
.month {
  padding-left: 185px;
}
.month ul li {
  color: red;
  font-size: 26px;
}
.Logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
#GoTopButton {
  display: none;
  position: fixed;
  bottom: 40px;
  right: 40px;
  padding: 20px;
  font-size: 28px;
  background-color: red;
  color: white;
  border: 2px solid black;
  cursor: pointer;
}
#GoTopButton:hover{
  background-color: black;
}
.valid {
  color: green;
}
.invalid {
  color: red;
}
